@font-face {
   font-family: 'lohit';
   src: url('../assets/lohit_gu.ttf'); 
}

#busy {
  display: none;
position: absolute;
top: 50%;
left: 50%;
margin-left: -65px;
margin-top: -31px;
color: #FFFFFF;
font-size: 24px;
z-index: 6;
background-color: #000000;
opacity: 0.8;
width: auto;
height: auto;
padding: 25px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
  
}

.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}


.panel-title a, .panel-body{
  font-family: lohit;
  font-size:20px;
}
.brand-image {
height: 32px;
width: 33px;
margin-top: 0;
padding-top: 0;
}
.search-box {
  padding:0 !important;
}
.top-nav {
  padding:10px 0 10px 0;;
  margin-bottom: 25px;
}
a:focus {
text-decoration: none !important;
}

        .modal, .fade {
            display:block !important;
            top: 50px;
            overflow: auto;
        }